{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="col-sm-9">
        <h1 class="govuk-label--xl">Your provider information returns</h1>
        <div class="govuk-label--l">Millennium House</div>
        <p class="govuk-label">We use the information you give us to monitor your service. It helps us answer the <a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/key-lines-enquiry-adult-social-care-services" target="_blank">five key questions</a> we use to understand quality of care.</p>
        <br>
        <p class="govuk-label">You must answer a full set of questions once a year and a shorter version every 3 months.</p>
        <p class="govuk-label">How long it takes:</p>
        <ul class="govuk-label">
            <li >The full version takes up to 2 weeks</li>
            <li >The short version usually takes 1 day</li>
        </ul>
        <br>
        <br>
        <div class="govuk-form-group">
        <label for="findLocation" class="govuk-label govuk-!-width-two-thirds">Find a specific location</label>
        <input class="govuk-input govuk-!-width-two-thirds" type="text" id="findLocation" name="findLocation" value={{ data['findLocation'] }}>
        <td class="govuk-table__cell"><a href="/dashboard/dashboard_multiple" class="button js-form-submit form-submit btn-primary btn icon-before">Search</a></td>
        </div>
        <table class="govuk-table">
            <br>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Location</th>
                <th class="govuk-table__header" scope="col">Deadline</th>
                <th class="govuk-table__header" scope="col">Type</th>
                <th class="govuk-table__header" scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Hollyrow Care Home</td>
                    <th class="govuk-table__cell" scope="row">31 October 2018</th>
                    <td class="govuk-table__cell">Quarterly</td>
                    <td class="govuk-table__cell"><a href="../application/task_list" class="button js-form-submit form-submit btn-primary btn icon-before">Continue</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Daisy Care Home</td>
                    <th class="govuk-table__cell" scope="row">31 October 2018</th>
                    <td class="govuk-table__cell">Quarterly</td>
                    <td class="govuk-table__cell"><a href="../application/task_list" class="button js-form-submit form-submit btn-primary btn icon-before">Continue</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">The Lanes Care Home</td>
                    <th class="govuk-table__cell" scope="row">31 October 2018</th>
                    <td class="govuk-table__cell">Quarterly</td>
                    <td class="govuk-table__cell"><a href="../application/task_list" class="button js-form-submit form-submit btn-primary btn icon-before">Continue</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Roehorn Care Home</td>
                    <th class="govuk-table__cell" scope="row">31 October 2018</th>
                    <td class="govuk-table__cell">Quarterly</td>
                    <td class="govuk-table__cell"><a href="../application/task_list" class="button js-form-submit form-submit btn-primary btn icon-before">Continue</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">The Triangle Care Home</td>
                    <th class="govuk-table__cell" scope="row">31 October 2018</th>
                    <td class="govuk-table__cell">Quarterly</td>
                    <td class="govuk-table__cell"><a href="../application/task_list" class="button js-form-submit form-submit btn-primary btn icon-before">Continue</a></td>
                </tr>                
            </tbody>
        </table>
        <p class="govuk-label">View <a href="../application/previous-application/view-full-form.html">full details</a> for this location</p>       
    </div>
</div>
{% endblock %}