{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="col-sm-9">
        <h1 class="govuk-label--xl">Your provider information returns</h1>
        <div class="govuk-label--l">Millennium House</div>
        <p class="govuk-label">The PIR you need to update depends on when you sent your last one. You need to answer a full set of questions once a year and a smaller set every 3 months, called a quarterly return. </p>
        <br>
        <p class="govuk-label">Time needed:</p>
        <ul class="govuk-label">
            <li >Full PIRs take up to 2 weeks</li>
            <li >Quarterly PIR usually take 1 day</li>
        </ul>
        <br>
        <p>We will notify you when a new update is required</p>
        <p class="govuk-label">View <a href="../application/current-application/view-full-form.html">your previous</a> update</p>        
    </div>
</div>
{% endblock %}