{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <section class="col-sm-9">
            <form class="webform-submission-form webform-submission-add-form webform-submission-parent-form-form webform-submission-parent-form-add-form js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit">
                <div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
                    <div class="govuk-label--xl">Millennium House</div>
                    <div class="col-md-10 gds_task_list">
                        <h2 class="govuk-label--l">People that user your service</h2>
                        <br>
                        

                    </div>
                </div>
                <div class="govuk-form-group">
                    <a href="/" class="button js-form-submit form-submit btn-primary btn icon-before">Continue</a>
                </div>
                <div class="govuk-form-group">
                    <a href="/dashboard/index.html" class="button js-form-submit form-submit btn btn-secondary icon-before">Save and come back later</a>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}