{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/task_list",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="how_people_pay">
				<div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="col-md-10 gds_task_list">
						<h2 class="govuk-label--l">How you run your service</h2>
						<div class="govuk-form-group">
							<label for="how-many-beds" class="govuk-label">How many beds do you have to care for people as part of a regulated activity?</label>
							<label for="how-many-beds" class="guidance govuk-label">Give the total number including unoccupied beds</label>
							<input class="govuk-input govuk-input--width-10" type="text" id="how-many-beds" name="how-many-beds" value={{ data['how-many-beds'] }}>
						</div>
					</div>
				</div>
				<div class="govuk-form-group">
					<input class="govuk-button" type="submit" value="Save and continue"><br>
					<a href="/application/task_list">Return to overview</a>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}