{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/how_you_run_your_service/effective_quality_risk",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Check your answers before sending your application
		</h1>
		<!-- only add a heading for a list if there is more than one list -->
		<h2 class="govuk-heading-m">
			Capacity
		</h2>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many beds do you have?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['how-many-beds'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="capacity">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
		</dl>
		<!-- only add a heading for a list if there is more than one list -->
		<h2 class="govuk-heading-m">
			How people pay for their care
		</h2>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many of the people who use your service fully fund their own care?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['fully-funded'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="how_people_pay">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many are fully funded by the NHS?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['fully-funded-nhs'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="how_people_pay">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many use their own money to top up NHS funding?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['own-money'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="how_people_pay">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many are fully funded by a local authority?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['la-funded'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="how_people_pay">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many use their own money to top up local authority funding?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['la-top-up'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="how_people_pay">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many are jointly funded by the NHS and a local authority?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['joint-funded'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="how_people_pay">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
		</dl>
		<!-- only add a heading for a list if there is more than one list -->
		<h2 class="govuk-heading-m">
			Death and serious incidents
		</h2>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Have you had to tell anyone about an incident?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['pass-twelve-month'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="death_and_serious_incident">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<!-- <div class="app-check-your-answers__contents <% if({{ data['pass-twelve-month'] }} === 'Yes') { %>govuk-form-group--error<% } %>"> -->
			{% if divShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Have you kept records of what you told them?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['told-them'] }}   
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="death_and_serious_incident">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Have you kept copies of what you sent them?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['write-to-them'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="death_and_serious_incident">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
            {% endif %} 
		</dl>
		<h2 class="govuk-heading-m">
			Effective quality assurance and risk management
		</h2>
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many of the people who use your service are at risk of malnutrition or dehydration?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['#-risk-of-mal-deh'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="effective_quality_risk">
						Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How do you assess people to be at risk of malnutrition and dehydration?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['risk-of-mal-deh'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="effective_quality_risk">
						Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
		</dl>
	</div>
</div>
</dl>
<p>
	By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.
</p>
<a href="../task_list?howService=true" class="govuk-button" role="button">Confirm and continue</a>
</div>
</div>
{% endblock %}