{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="webform-submission-form webform-submission-add-form webform-submission-parent-form-form webform-submission-parent-form-add-form js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit">
				<div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="col-md-10 gds_task_list">
						<h2 class="govuk-label--l">How you run your service</h2>
						<p class="govuk-label--m">Death and serious indicents</p>
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
								<div class="govuk-label">
									In the past 12 months, have you had to tell anyone about something that went wrong with their own or a relative's care?
								</div>
							</legend>
							<div class="govuk-radios">
								<div class="govuk-radios__item">
								  <input class="govuk-radios__input" id="something-wrong-1" name="something-wrong" type="radio" value="england">
								  <label class="govuk-label govuk-radios__label" for="something-wrong-1">
								  Yes
								</label>
								</div>
								<div class="govuk-radios__item">
								  <input class="govuk-radios__input" id="something-wrong-2" name="something-wrong" type="radio" value="scotland">
								  <label class="govuk-label govuk-radios__label" for="something-wrong-2">
								  No
								</label>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
								<div class="govuk-label">
									Have you kept:
								</div>
							</legend>
							<label for="fully-funded-nhs" class="govuk-label govuk-form-group">records of what you told them when the incident happened?</label>
							<div class="govuk-radios">
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="told-them-1" name="told-them" type="radio" value="england">
									<label class="govuk-label govuk-radios__label" for="told-them-1">
									Yes
								</label>
								</div>
								<div class="govuk-radios__item govuk-label">
									<input class="govuk-radios__input" id="told-them-2" name="told-them" type="radio" value="scotland">
									<label class="govuk-label govuk-radios__label" for="told-them-2">
									No
								</label>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset class="govuk-fieldset">
								<label for="fully-funded-nhs" class="govuk-label govuk-form-group">copies of what you put in writing to them?</label>
								<div class="govuk-radios">
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="write-to-them-1" name="write-to-them" type="radio" value="england">
										<label class="govuk-label govuk-radios__label" for="write-to-them-1">
										Yes
									</label>
									</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="write-to-them-2" name="write-to-them" type="radio" value="scotland">
										<label class="govuk-label govuk-radios__label" for="write-to-them-2">
										No
									</label>
									</div>
								</div>
							</fieldset>
					</div>
				</div>
				<div class="govuk-form-group">
					<a href="/dashboard/index.html" class="govuk-button">Save and come back later</a>
					<a href="check_your_answers.html" class="govuk-button">Continue</a>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}