{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/how_you_run_your_service/death_and_serious_incident",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="check_your_answers">
				<div class="form-group js-form-wrapper form-wrapper" id="check_your_answers">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="col-md-10 gds_task_list">
						<h2 class="govuk-label--l">How you run your service</h2>
						<div class="govuk-form-group">
							<div class="govuk-form-group">
								<label for="#-risk-of-mal-deh" class="govuk-label">How many of the people who use your service are at risk of malnutrition or dehydration?</label>
								<input class="govuk-input govuk-input--width-10" type="text" id="#-risk-of-mal-deh" name="#-risk-of-mal-deh" value={{ data['#-risk-of-mal-deh'] }}>
							</div>
							<div class="govuk-form-group">
                                <label for="risk-of-mal-deh" class="govuk-label">How do you assess people to be at risk of malnutrition and dehydration? (Up to 500 words)</label>
                                <textarea class="govuk-textarea" rows="5" type="text" id="risk-of-mal-deh" name="risk-of-mal-deh">{{ data['risk-of-mal-deh'] }}</textarea>
                            </div>
						</div>
					</div>
					<p>Previous answer:</p>
					<p>Our care plans include a full assessment of nutrition intake and requirements. These assessments determine what extra support may be needed, such as fortified food, or specialist diet such as diabetic, soft diet. It also states what food preparation is required such as food needing to be cut up and whether the person may need feeding or assistance. Waterlow and MUST are within the care plans and also records of weight which will highlight if at risk of malnutrition. Age and tissue visibility would also be part of the assessment and again this all add up to a final score, and can always highlight as a risk, but the person very often has had a small appetite for many years, and also age related, but they are maintaining  their weight.</p>  
					<p>Weights are carried out monthly or less we have a concern that someone is lacking appetite, then we would weigh them weekly to closely monitor them in case a dietician referral is needed via the doctor and also to check any possible medical change that may be having an effect on loss of weight. The dietician would then visit the home and carry out their own assessment and if needed prescribe some fortified build up drinks, then monitor the progress and all being well the service user would soon be discharged once they can see evidence that their service is no longer required.</p>
				</div>
				<div class="govuk-form-group">
					<input class="govuk-button" type="submit" value="Save and continue"><br>
					<a href="/application/task_list">Return to overview</a>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}