{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/how_you_run_your_service/death_and_serious_incident",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="check_your_answers">
				<div class="form-group js-form-wrapper form-wrapper" id="check_your_answers">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="col-md-10 gds_task_list">
						<h2 class="govuk-label--l">How you run your service</h2>
						<div class="govuk-form-group">
							<div class="govuk-form-group">
								<label for="#-risk-of-mal-deh" class="govuk-label">How many of the people who use your service are at risk of malnutrition or dehydration?</label>
								<input class="govuk-input govuk-input--width-10" type="text" id="#-risk-of-mal-deh" name="#-risk-of-mal-deh" value={{ data['#-risk-of-mal-deh'] }}>
							</div>
							<div class="govuk-form-group">
                                <label for="risk-of-mal-deh" class="govuk-label">How do you assess people to be at risk of malnutrition and dehydration? (Up to 500 words)</label>
                                <textarea class="govuk-textarea" rows="5" type="text" id="risk-of-mal-deh" name="risk-of-mal-deh">{{ data['risk-of-mal-deh'] }}</textarea>
                            </div>
						</div>
					</div>
					<p>Previous answer:</p>
					<p>Before we admit people in Beech Lawn, we carry out an assessment. This assessment covers people's level of nutrition and hydration. We ask the person of their level of support that they will need to eat and drink, we look at appropriate utensils that may be suitable and easier for them to use so they can maintain to eat independently. If they are assessed to need assistance we record and develop a care plan on how they need to be assisted. Diet requirements is recorded and ensure that we communicate this to the kitchen staff. Menu's is developed to cater for people with special dietary needs for example, gluten free, diabetic, vegetarian etc. In people's rooms we have put in place easy guide for staff and families of the peoples dietary requirements and if they need assistance to eat. This may also say if people's drinks needs to be thickened and using a prescribed thickening agent such as 'Thick and Easy or 'Nutrillis' powder. </p>
					<p>In Peoples' care plans, will state peoples dietary requirement and the level of assistance they need to eat and drink. If there is an involvement with Speech and Language Team, their professional recommendation is also entered. This information is also communicated in the kitchen. If people needs changes and there is an identified risk around their nutrition or hydration, we contact the GP and they will make the necessary referral to a dietician or speech and language. We monitor people's weight monthly and use different types of scales depending on their mobility. We weigh people monthly but also respect people who are end of life care. For people receiving end of life care and nutrition and hydration is for comfort only, we monitor their weight by measuring the circumference of their arm.</p>
					<p>People who are admitted at Beech Lawn are assessed with MUST score this is completed by the registered nurse and monitored.  
						Staff are very aware of people's nutrition and hydration needs, staff communicate any changes to the nurse in charge and record this accordingly. The nurse in charge will take the necessary risk assessment and liaise with the GP and refer for a Speech and Language Team to assess. Staff are mindful of the people who need prompting to eat and drink and they will ensure they sit with them throughout. Staff will make the experience enjoyable and encourage the person to eat and drink. It is always reminded by the manager to ensure that people's drinks is left at arms reach for people and to ensure that their call bell is also clipped or at hands reach. 
					<p>People who have been prescribed nutritional supplement drinks are offered daily.
						The kitchen have records of peoples dietary needs and this is kept up to date and reviewed when needs changes.
						We are looking to improve the presentation of pureed meals by sourcing equipment to mould the food to replicate what it is so that this will look more appealing to the people's eyes.</p>
				</div>
				<div class="govuk-form-group">
					<input class="govuk-button" type="submit" value="Save and continue"><br>
					<a href="/application/task_list">Return to overview</a>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}