{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="death_and_serious_incident">
				<div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="col-md-10 gds_task_list">
						<h2 class="govuk-label--l">How you run your service</h2>
						<p class="govuk-label--m">How people pay for their care</p>
						<div class="govuk-form-group">
							<label class="govuk-label">How many:</label>
							<br>
							<div class="govuk-form-group">
								<label for="fully-funded" class="govuk-label">of the people who use your service fully fund their own care?</label>
								<input class="form-control" type="text" id="fully-funded" name="fully-funded" value={{ data['fully-funded'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="fully-funded-nhs" class="govuk-label">are fully funded by the NHS?</label>                                  
								<input class="form-control" type="text" id="fully-funded-nhs" name="fully-funded-nhs" value={{ data['fully-funded-nhs'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="own-money" class="govuk-label">use their own money to top up NHS funding?</label>
								<input class="form-control" type="text" id="own-money" name="own-money" value={{ data['own-money'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="la-funded" class="govuk-label">are fully funded by a local authority?</label>
								<input class="form-control" type="text" id="la-funded" name="la-funded" value={{ data['la-funded'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="la-top-up" class="govuk-label">use their own money to top up local authority funding?</label>
								<input class="form-control" type="text" id="la-top-up" name="la-top-up" value={{ data['la-top-up'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="joint-funded" class="govuk-label">are jointly funded by the NHS and a local authority?</label>
								<input class="form-control" type="text" id="joint-funded" name="joint-funded" value={{ data['joint-funded'] }}>
							</div>
						</div>
					</div>
				</div>
				<div class="govuk-form-group">
					<a href="/dashboard/index.html" class="govuk-button">Save and come back later</a>
					<input class="govuk-button" type="submit" value="Continue">
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}