// global styles for <a> and <p> tags
$govuk-global-styles: true;

//Import GOV.UK Frontend
@import "govuk-frontend/all";

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';
@import 'patterns/task-list';

//cookie-banner
@import "../../../docs/assets/sass/cookie-banner";

// CQC specific styling
@import 'cqc-styling';
@import '_tables';

// Import boostrap
//@import "bootstrap/scss/bootstrap";
//@import "bootstrap/scss/bootstrap-grid";

.code {
  color: $govuk-text-colour;
  background-color: govuk-colour("grey-4");

  text-shadow: 0 1px govuk-colour("white");
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border: 1px solid $govuk-border-colour;
  padding: 4px 4px 2px;
}

.col-sm-9 {
  width: 82%;
}




// Local fixes to GOV.UK frontend

.markdown hr {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
}

.govuk-list + .govuk-heading-l,
.govuk-list + .govuk-heading-m,
.govuk-list + .govuk-heading-s {
  @include govuk-responsive-margin(4, "top");
}

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.app-task-list__task-name {
  font-size: 25px;
}

.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.78947em;
  margin-bottom: 0.78947em;
}

.panel-border-narrow {
  border-left-width: 5px;
}

details {
  display: block;
  clear: both;
}

details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em;
}

details summary:hover {
  color: #2b8cc4;
}

details summary:focus {
  outline: 3px solid #ffbf47;
}

details .summary {
  text-decoration: underline;
}

details .arrow {
  margin-right: .35em;
  font-style: normal;
}