{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/current-application/view-full-form/people-that-use-your-service-q5",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Check your answers before sending your application
		</h1>
		<h2 class="govuk-heading-m">
			Number of People
		</h2>

		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many people do you care for as part of a regulated activity?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['peopleNumber'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="people-that-use-your-service-q1-2.html">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
		</dl>
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many of these people are cared for in bed?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['bedNumber'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="people-that-use-your-service-q1-2.html">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many people started using your service in the past 12 months?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['startNumber'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="people-that-use-your-service-q3-4.html">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many people stopped using your service in the past 12 months?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['stoppedNumber'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="people-that-use-your-service-q3-4.html">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many people have you served notice on to leave the service in the past 12 months?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['leaveNumber'] }}
				</dd>
				<dd class="app-check-your-answers__change">
					<a href="people-that-use-your-service-q5.html">
					Change<span class="govuk-visually-hidden"> number of people</span>
					</a>
				</dd>
			</div>
		</dl>
	</div>
</div>
</dl>
<a href="../view-full-form?NumberOfPeople=true" class="govuk-button" role="button">Confirm and continue</a>
</div>
</div>
{% endblock %}