{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/current-application/view-full-form",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="/application/current-application/view-full-form">
				<div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
					<div class="govuk-label--xl">Quality of Care</div>
					<h2 class="govuk-label--l">Caring</h2>
					<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

						<label class="govuk-label" for="caringService">
							How do you make sure your service is caring? (500 words)
						</label>
						<details class="govuk-details">
								<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
									What to include in your answer
								</span>
								</summary>
									<div class="govuk-details__text">
										Use examples.<br><br>
										Describe how you put policies into practice in real life and how you know your staff are following them.<br><br>
										You could include how you:<br>
										<ul><li>support people's relationships with those close to them</li>
											<li>promote people's privacy and dignity</li>
											<li>help people to get involved in making decisions about their care</li></ul>
										Describe anything else you do that shows you run a safe service. Include anything you feel is original or exceptional<br><br>
											
										Write up to 500 words.
									</div>
							</details>
							<textarea class="govuk-textarea" id="caringService" name="caringService" rows="5" aria-describedby="caringService-hint"></textarea>
						<label class="govuk-label" for="moreCaringService">
							What things have you changed to make your service more caring? (500 words)
						</label>
							<label for="localauthority" class="guidance govuk-label">Only include things you have done since your last inspection or since you last filled in a PIR, whichever is more recent. Explain how they have made a difference to people who use your service.</label>
							<textarea class="govuk-textarea" id="moreCaringService" name="moreCaringService" rows="5" aria-describedby="moreCaringService-hint"></textarea>
						<label class="govuk-label" for="caringPlan">
							What are you planning to do in the next 12 months that will make your service more caring? (500 words)
						</label>
						<details class="govuk-details">
								<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
									What to include in your answer
								</span>
								</summary>
									<div class="govuk-details__text">
										Use examples. Tell us:<br>
										<ul><li>what you are going to do
											<li>who will do it
											<li>when will it be completed
											<li>what difference it will make for people who use your service</li></ul>	
										Write up to 500 words.
									</div>
							</details>
							<textarea class="govuk-textarea" id="caringPlan" name="caringPlan" rows="5" aria-describedby="caringPlan-hint"></textarea>
						<div class="govuk-form-group">
							<input class="govuk-button" type="submit" value="Save and continue"><br>
						</div>
					</fieldset>
					</div>
					</div>
				</div>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}
