{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/dashboard",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<form class="webform-submission-form webform-submission-add-form webform-submission-parent-form-form webform-submission-parent-form-add-form js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit">
			<div class="form-group form-group js-form-wrapper form-wrapper" id="edit-task-list">
				<div class="form-section-title">Millennium House</div>
				<br>
				<div class="location_name_secondary_element">Update Millennium House</div>
				<div class="container">
					<ol class="app-task-list">
						<li>
							<h2 class="app-task-list__section">
								<span class="app-task-list__section-number">1. </span> People that use your service
							</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<a class="left" href="view-full-form/people-that-use-your-service-q1-2.html">Number of people</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="view-full-form/Type-of-care-you-provide-q1-2.html">Type of care you provide</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="people_that_use_your_service/number_of_people
								</li>
								<li class="app-task-list__item">
									<a class="left" href="">Nutrition and hydration</a>
									
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="">Restrictions and deprivation of liberty</a>
									
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="">Mental capacity</a>
									
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="">Visiting arrangements</a>
									
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="">End of life care</a>
									
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="">Equality, dignity and human rights</a>
									
								</li>							
							</ul>
						</li>
						<li>
							<h2 class="app-task-list__section">
								<span class="app-task-list__section-number">2. </span> Your staff
							</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<a class="left" href="/application/current-application/view-full-form/staff-numbers-q1-13">Staff numbers</a>
							
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="/application/current-application/view-full-form/qualifications-and-skills">Qualifications and skills</a>

								</li>
								<li class="app-task-list__item">
									<a  class="left" href="">Training and supervision</a>

								</li>
							</ul>
						</li>
						<li>
							<h2 class="app-task-list__section">
								<span class="app-task-list__section-number">3. </span> How you run your service
							</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/capacity">Admissions</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/capacity">Capacity</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/how_people_pay">Commissioning</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="view-full-form/how-people-pay-for-their-care.html">How people pay for their care</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/how_people_pay">How you identify risks</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/death_and_serious_incident">Deaths and serious incidents</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="view-full-form/medicines-management.html">Medicines management</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/how_people_pay">How you work with other services</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/how_people_pay">How you involve your local community</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/how_people_pay">Improvement, complaints and feedback</a>
								</li>
								<li class="app-task-list__item">
									<a class="left" href="how_you_run_your_service/how_people_pay">Records and personal information</a>

								</li>
							</ul>
						</li>
						<li>
							<h2 class="app-task-list__section">
								<span class="app-task-list__section-number">4. </span> Quality of care
							</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<a class="left" href="view-full-form/quality-of-care-safe.html">Safe</a>
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="view-full-form/quality-of-care-effective.html">Effective</a>
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="view-full-form/quality-of-care-caring.html">Caring</a>
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="view-full-form/quality-of-care-responsive.html">Responsive to people's needs</a>
								</li>
								<li class="app-task-list__item">
									<a  class="left" href="view-full-form/quality-of-care-well-led.html">Well led</a>
								</li>
							</ul>
					</li>
					</ol>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}