{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/task_list",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="check_your_answers">
				<div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="col-md-10 gds_task_list">
						<h2 class="govuk-label--l">Your staff</h2>
						<p class="govuk-label--m">Staff numbers</p>
						<p class="govuk-label--m"></p>
						<div class="govuk-form-group">
							<div class="govuk-form-group">
								<label for="service-employ" class="govuk-label">How many people does your service employ?</label>
								<label for="service-employ" class="guidance govuk-label">All staff, including temporary, pool and agency staff, students and volunteers. As well as care staff, include people who do things we do not regulate, like cooking or cleaning.</label>
								<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a><br>
								<input class="form-control" type="text" id="service-employ" name="service-employ" value={{ data['service-employ'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="post-employ" class="govuk-label">How many full time equivalent posts do you employ?</label>
								<div class="webform-element-more--link">
									<details>
										<summary><span class="summary">What is classified as full time?</span></summary>
										<div class="panel panel-border-narrow">
											<p>Use 37 hours a week as your basis for full time, even if your full time hours are different</p>
											<p>How to calculate full time equivalent posts</p>
											<p>Full time equivalent is a way of setting out the number of hours people work in a given period. It divides the total number of staff hours by the hours for one full time employee. To calculate it:</p>
											<ul>
												<li>add together the hours worked by all your staff in one week</li>
												<li>divide the total by 37</li>
											</ul>
										</div>
									</details>
									<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a>
								</div>
								<input class="form-control" type="text" id="post-employ" name="post-employ" value={{ data['post-employ'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="staff-reg-activity" class="govuk-label">How many of your staff give care as part of a regulated activity?</label>
								<div class="webform-element-more--link">
									<details>
										<summary><span class="summary">Who undertakes regular activities?</span></summary>
										<div class="panel panel-border-narrow">
											<p class="govuk-label">Which staff to include:</p>
											<ul>
												<li >Give the number of people who provide care we regulate as part of their day to day job, for example care workers and nurses.</li>
												<li >Do not include people who only do things we do not regulate, like cooking or cleaning.</li>
												<li>Count permanent, temporary, pool and agency staff, students and volunteers.</li>
												<li>Include staff on zero hour contracts.</li>
												<li>Do not include vacancies.</li>

											</ul>

										</div>
									</details>
									<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a>
								</div>
								<input class="form-control" type="text" id="staff-reg-activity" name="staff-reg-activity" value={{ data['staff-reg-activity'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="reg-nurse" class="govuk-label">How many of your staff are registered nurses?</label>
								<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a><br>
								<input class="form-control" type="text" id="reg-nurse" name="reg-nurse" value={{ data['reg-nurse'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="volunteer" class="govuk-label">How many are volunteers?</label>
								<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a><br>
								<input class="form-control" type="text" id="volunteer" name="volunteer" value={{ data['volunteer'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="placement-student" class="govuk-label">How many students are on placement with your service?</label>
								<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a><br>
								<input class="form-control" type="text" id="placement-student" name="placement-student" value={{ data['placement-student'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="apprentice" class="govuk-label">How many are apprentices?</label>
								<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a><br>
								<input class="form-control" type="text" id="apprentice" name="apprentice" value={{ data['apprentice'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="staff-less-than-12" class="govuk-label">How many of your staff started less than 12 weeks ago?</label>
								<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a><br>
								<input class="form-control" type="text" id="staff-less-than-12" name="staff-less-than-12" value={{ data['staff-less-than-12'] }}>
							</div>
							<div class="govuk-form-group">
								<label for="staff-vacancy" class="govuk-label">How many staff vacancies do you have?</label>
								<a href="https://www.cqc.org.uk/guidance-providers/adult-social-care/suitable-staff-staff-cover" target="_blank">Read about the SAFE KLOE</a><br>
								<input class="form-control" type="text" id="staff-vacancy" name="staff-vacancy" value={{ data['staff-vacancy'] }}>
							</div>
						</div>
					</div>
				</div>
				<div class="govuk-form-group">
					<input class="govuk-button" type="submit" value="Save and continue"><br>
					<a href="/application/task_list/">Return to overview</a>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}