{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/people_that_use_your_service/restriction_and_deprivation",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Check your answers before sending your application
        </h1>

        <!-- only add a heading for a list if there is more than one list -->
        <h2 class="govuk-heading-m">
            People that use your service
        </h2>

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `app-check-your-answers--short` for short questions -->
        <!--   * `app-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    How many people do you care for as part of a regulated activity?
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{ data['peopleNumber'] }}
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="number_of_people">
                        Change<span class="govuk-visually-hidden"> number of people</span>
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    How many people are subject to a DoLS authorisation?
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{ data['dols'] }}
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="restriction_and_deprivation">
                        Change<span class="govuk-visually-hidden"> DoLS</span>
                    </a>
                </dd>
            </div>
        </dl>
        <p>
            By submitting this information you are confirming that, to the best of your knowledge, the details you are providing are correct.
        </p>
        <a href="../task_list?peopleService=true" class="govuk-button">Confirm and continue</a>
    </div>
</div>
{% endblock %}
