{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/task_list",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="restriction_and_deprivation">
				<div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="gds_task_list">
						<h2 class="govuk-label--l">People that use your service</h2>
						<p class="govuk-label--m">Number of people</p>
						<div class="govuk-form-group">
							<label for="peopleNumber" class="govuk-label">How many people do you care for as part of a regulated activity?</label>
							<label for="peopleNumber" class="guidance govuk-label">Give the total number of people using your service now</label>
							<input class="govuk-input" type="text" id="peopleNumber" name="peopleNumber" value={{ data['peopleNumber'] }}>
						</div>
					</div>
				</div>
				<div class="govuk-form-group">
					<input class="govuk-button" type="submit" value="Save and continue"><br>
					<a href="/application/task_list/">Return to overview</a>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}
