{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/people_that_use_your_service/number_of_people",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<section class="col-sm-9">
			<form class="form" method="post" action="check_your_answers">
				<div class="form-group js-form-wrapper form-wrapper" id="edit-task-list">
					<div class="govuk-label--xl">Millennium House</div>
					<div class="col-md-10 gds_task_list">
						<h2 class="govuk-label--l">People that use your service</h2>
						<div class="govuk-form-group">
							<label for="dols" class="govuk-label">How many people are subject to a DoLS authorisation?</label>
							<label for="dols" class="guidance govuk-label">This means a local authority has given permission for the person to be deprived of their liberty</label>
							<input class="govuk-input" type="text" id="dols" name="dols" value={{ data['dols'] }}>
						</div>
					</div>
				</div>
				<div class="govuk-form-group">
					<input class="govuk-button" type="submit" value="Save and continue"><br>
					<a href="/application/task_list">Return to overview</a>
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}