.header {
    background: #602662;
}

.govuk-header__logotype-text {
    display: none;
}

.govuk-header__logotype-crown {
    display: none;   
}

.govuk-header__logo {
    background-image: url("../images/logocqc.png");
    width: 200px;
    height: 68px;
    margin-right: 120px;
}