{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h2 class="govuk-panel__title">
              Application complete
            </h2>
            <div class="govuk-panel__body">
              Your reference number<br><strong>HDJ2123F</strong>
            </div>
          </div>
      
          <p>
            We have sent you a confirmation email.
          </p>
      
          <h2 class="govuk-heading-m">What happens next</h2>
          <p></p>
          <p></p>
          <p>Your answers will help us decide if we need to get in touch or visit you to discuss any changes you need to make to your service.</p>
          <p>You can <a href="/application/previous-application/view-full-form">check the information you've already sent us</a>, but you won't be able to update your answers yet.</p>
          <p>We'll email you at least 4 weeks before it's time to update again</p>
      
      
        </div>
      </div>
{% endblock %}