{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({
href: "/application/review",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="form-section-title">Millennium House</div>
		<br>
		<h1 class="govuk-heading-xl">
			How we use your answers to monitor care quality
		</h1>
		<p>We use your information to help understand if your service is safe, effective, caring and responsive to people's need and well-led</p>
		<!-- only add a heading for a list if there is more than one list -->
		<h2 class="govuk-heading-l">
			Safe: you are protected from abuse and avoidable harm
		</h2>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many people do you care for as part of a regulated activity?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['peopleNumber'] }}
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many people are subject to a DoLS authorisation?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['dols'] }}
				</dd>
			</div>
		</dl>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Does your service employ anybody?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['service-employ-check'] }}
				</dd>
			</div>

			{% if serviceEmployShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many people does your service employ?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['service-employ'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Did any of your staff start within the last 12 weeks?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['staff-less-than-12-check'] }}
				</dd>
			</div>

			{% if staffLessThan12Show %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many of your staff started less than 12 weeks ago?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['staff-less-than-12'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Do you have any staff vacancies?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['staff-vacancy-check'] }}
				</dd>
			</div>

			{% if staffVacancyShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many staff vacancies do you have?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['staff-vacancy'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Do you employ any full time equivalent posts?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['post-employ-check'] }}
				</dd>
			</div>

			{% if postEmployShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many full time equivalent posts do you employ?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['post-employ'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Do any of your staff give care as part of a regulated activity?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['staff-reg-activity-check'] }}
				</dd>
			</div>

			{% if staffRegActivityShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many of your staff give care as part of a regulated activity?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['staff-reg-activity'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Are any of your staff registered nurses?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['reg-nurse-check'] }}
				</dd>
			</div>

			{% if regNurseShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many of your staff are registered nurses?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['reg-nurse'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Are any of your staff volunteers?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['volunteer-check'] }}
				</dd>
			</div>

			{% if volunteerShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many are volunteers?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['volunteer'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Are any of your staff placement students?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['placement-student-check'] }}
				</dd>
			</div>

			{% if placementStudentShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many students are on placement with your service?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['placement-student'] }}
				</dd>
			</div>
			{% endif %}

			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Are any of your staff apprentices?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['apprentice-check'] }}
				</dd>
			</div>

			{% if apprenticeShow %}
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many apprentices do you have?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['apprentice'] }}
				</dd>
			</div>
			{% endif %}
		</dl>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many beds do you have?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['how-many-beds'] }}
				</dd>
			</div>
		</dl>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many of the people who use your service fully fund their own care?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['fully-funded'] }}
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many are fully funded by the NHS?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['fully-funded-nhs'] }}
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many use their own money to top up NHS funding?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['own-money'] }}
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many are fully funded by a local authority?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['la-funded'] }}
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many use their own money to top up local authority funding?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['la-top-up'] }}
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					How many are jointly funded by the NHS and a local authority?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['joint-funded'] }}
				</dd>
			</div>
		</dl>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Have you had to tell anyone about an incident?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['pass-twelve-month'] }}
				</dd>
			</div>
			<!-- <div class="app-check-your-answers__contents <% if({{ data['pass-twelve-month'] }} === 'Yes') { %>govuk-form-group--error<% } %>"> -->
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Have you kept records of what you told them?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['told-them'] }}   
				</dd>
			</div>
			<div class="app-check-your-answers__contents">
				<dt class="app-check-your-answers__question">
					Have you kept copies of what you sent them?
				</dt>
				<dd class="app-check-your-answers__answer">
					{{ data['write-to-them'] }}
				</dd>
			</div>
		</dl>
		<br>
		<h2 class="govuk-heading-l">
			Effective: your care, treatment and support achieves good outcomes, helps you to maintain quality of life and is based on the best available evidence.
		</h2>
		<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		<!--   * `app-check-your-answers--short` for short questions -->
		<!--   * `app-check-your-answers__questions-long` for long questions -->
		<!--   * none for single group of q&a -->
		<dl class="app-check-your-answers app-check-your-answers--short">
				<div class="app-check-your-answers__contents">
					<dt class="app-check-your-answers__question">
						How many of the people who use your service are at risk of malnutrition or dehydration?
					</dt>
					<dd class="app-check-your-answers__answer">
						{{ data['#-risk-of-mal-deh'] }}
					</dd>
				</div>
				<div class="app-check-your-answers__contents">
					<dt class="app-check-your-answers__question">
						How do you assess people to be at risk of malnutrition and dehydration?
					</dt>
					<dd class="app-check-your-answers__answer">
						{{ data['risk-of-mal-deh'] }}
					</dd>
				</div>
			</dl>
			<p>If you do need to make any changes then <a href="review">go back to the previous page</a>.</p>
	</div>
</div>
<a href="consent_and_submit" class="govuk-button" role="button">Continue</a>
</div>
</div>
{% endblock %}