{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <section class="col-sm-9">
      <form class="webform-submission-form webform-submission-add-form webform-submission-parent-form-form webform-submission-parent-form-add-form js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit">
        <div class="form-group form-group js-form-wrapper form-wrapper" id="edit-task-list">
          <div class="form-section-title">Millennium House</div>
          <br>
          <div class="location_name_secondary_element">Update Millennium House</div>
          <div class="container">
            <div class="col-md-10 gds_task_list">
              <h2>People that user your service</h2>
              <hr>
              <div class="row">
                <div class="col-xs-9">
                  <a href="people_that_use_your_service/number_of_people">Number of people</a>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-9">
                  <a href="people_that_use_your_service/specialist_care">Specialist care you provide</a>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-9">
                  <a href="people_that_use_your_service/nutrition_and_health">Nutrition and Hydration</a>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-9">
                  <a href="people_that_use_your_service/restrictions_and_deprivation">Restrictions and deprivation of liberty</a>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-9">
                  <a href="people_that_use_your_service/visting_arrangements">Visting Arrangements</a>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-9">
                  <a href="people_that_use_your_service/end_of_life_care">End of life care</a>
                </div>
                <div class="col-xs-3">
                </div>
              </div>              
            </div>
          </div>
        </div>
  </div>
  </form>
</div>
</div>

{% endblock %}