{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="container">
	<div class="row">
		<form class="webform-submission-form webform-submission-add-form webform-submission-parent-form-form webform-submission-parent-form-add-form js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit">
			<div class="form-group form-group js-form-wrapper form-wrapper" id="edit-task-list">
				<div class="form-section-title">Millennium House</div>
				<br>
				<div class="location_name_secondary_element">Update Millennium House</div>
				<div class="container">
					<a href="preview_questions" class="govuk-button">Preview the questions</a>
					<ol class="app-task-list">
						<li>
							<h2 class="app-task-list__section">
								<span class="app-task-list__section-number">1. </span> Update information
							</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<div class="app-task-list__task-name">
										<a href="people_that_use_your_service/number_of_people">People that use your service</a>
									</div>
									{% if peopleService %} {% include "../includes/complete.html" %}
									{% else %}{% include "../includes/todo.html" %}{% endif %}
								</li>
								<li class="app-task-list__item">
									<div class="app-task-list__task-name">
										<a href="your_staff/staff_numbers">Your staff</a>
									</div>
									{% if staffNumbers %} {% include "../includes/complete.html" %}
									{% else %}{% include "../includes/todo.html" %}{% endif %}
								</li>
								<li class="app-task-list__item">
									<div class="app-task-list__task-name">
										<a href="how_you_run_your_service/capacity">How you run your service</a>
									</div>
									{% if howService %} {% include "../includes/complete.html" %}
									{% else %}{% include "../includes/todo.html" %}{% endif %}
								</li>
							</ul>
						</li>
						{% if showReview %}
						<li>
							<h2 class="app-task-list__section">
								<span class="app-task-list__section-number">2. </span> Review and submit
							</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<div class="app-task-list__task-name">
										<a href="review">Review and submit</a>
									</div>
									{% if reviewService %} {% include "../includes/complete.html" %}
									{% else %}{% include "../includes/todo.html" %}{% endif %}
								</li>
							</ul>
						</li>
						{% else %}
						<li>
							<h2 class="app-task-list__section-inactive">
								<span class="app-task-list__section-number">2. </span> Review and submit
							</h2>
							<ul class="app-task-list__items">
								<li class="app-task-list__item">
									<div class="app-task-list__task-name-inactive">
										<span>Review and submit</span>
									</div>
									{% if reviewService %} {% include "../includes/complete.html" %}
									{% else %}{% include "../includes/todo.html" %}{% endif %}
								</li>
							</ul>
						</li>
						{% endif %}
					</ol>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}