{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <section class="col-sm-9">
      <form class="webform-submission-form webform-submission-add-form webform-submission-parent-form-form webform-submission-parent-form-add-form js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit">
        <div class="form-group form-group js-form-wrapper form-wrapper" id="edit-task-list">
          <div class="location_name_secondary_element">Prestige Worldwide Nursing Limited</div>
          <div class="col-sm-9 padme-bottom">
              <h1 class="padme-bottom">Overview</h1>
              
              <h3>How it works</h3>
              
              <ul><li>Complete the sections in any order</li>
                <li>Save answers in draft form and come back to them later – we won't see them until you are ready to submit them</li>
                <li>Your answers will be saved for the next time you update your PIR – so you will only need update things that have changed</li>
              </ul>
            </div>
            <div class="container">
              <div class="col-sm-9 gds_task_list">
                <h2>Safe</h2>
                <hr>
              </div>  
            </div>
          </div>
          </div>
      </form>
</div>
</div>

{% endblock %}