{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <section class="col-sm-9">
            <div class="govuk-label--xl">Log in</div>
            <form class="webform-submission-form webform-submission-add-form webform-submission-parent-form-form webform-submission-parent-form-add-form js-webform-details-toggle webform-details-toggle js-webform-disable-autosubmit">
              <div class="govuk-form-group" id="edit-task-list">
                <label for="edit-name" class="govuk-label">Email</label>
                <input class="form-control" style="padding-right: 10px; width: 57%" type="text" id="edit-name" name="edit-name" value="enquiries@acacia-lodge.co.uk" disabled>
            </div>
            <div class="govuk-form-group">
                <label for="edit-pass" class="govuk-label">Password</label>
                <div id="edit-name--description" class="guidance govuk-label">This is the password you used to register the above email with</div>
                <input class="form-control" style="padding-right: 10px; width: 57%" aria-describedby="edit-pass--description"type="password" id="edit-pass" name="pass" size="60" maxlength="128" aria-required="true">
            </div>
            <div class="form-actions form-group js-form-wrapper form-wrapper">
              <a href="/dashboard/index.html" class="button js-form-submit form-submit btn-primary btn icon-before">Log in</a>
            </div>
            <a href="/forgot-password">I forgot my password</a>
          </form>
      </section>
    </div>
</div>

{% endblock %}
